@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;

}

body {
    margin: 0;
    padding: 0;

}

nav {
    background-color: #ebeaea;
    display: flex;
    align-items: center; /* Rata Atas bawah*/
    /* justify-content: center; Rata Kanan Kiri */
    height: 10vh;

}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

nav ul li {
    margin-right: 25px;
    font-size: 20px;
}

nav ul li a {
    color: black;
}

nav ul li .active {
color: orangered;
}

/* nav ul li #active {
    color: aqua;
} */

.nav-left {
    /* Mengatur Lebarnya */
    flex : 50%;


}

.nav-right {
    flex: 50%;
    text-align: end;
    margin-right: 25px;
}

.nav-right a {
background-color: orangered;
padding: 8px 20px;
color: white;
border-radius: 5px;
}

.container {
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;
    margin-top: 80px;
}

section {
    display: flex;
    width: 80%;
}

.left {
    flex: 30%;
    font-size: 15px;
}

#foto-saya {
    width: 100%;
    border-radius: 10px;
    padding: 0px;

}

.card-left {
    width: 350px;
    margin: 0px auto;
    border-radius: 10px;
    box-shadow: 0 0 15px #cecece;
}

.selain-foto {
   padding-left: 10px;
   padding-right: 10px;
}

.table-left {
        border: 1px solid grey;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin-bottom: 10px;
}

.right {
    flex: 70%;
    margin-left: 50px;
}

.skill {
    display: flex;
    margin-top: 50px;
}

#js-foto{
    width: 80px;
}

.skill img {
    width: 50px;
    height: 50px;
}

.social-media i {
    margin-right: 20px;
    font-size: 30px;

}

.social-media a {
    text-decoration: none;
    color: black;
}